// colors
$dark: #232230;
$lighter-dark: #3D3D58;
$light-grey: #F2F2F8;
$red: #BD2327;
$yellow: #F57C00;
$green: #2E7D32;
$dark-pink: #C2185B;
$pink: #EF5483;
$purple: #7B1FA2;
$blue: #1976D2;
$grey: #79789C;
$card-color: #313145;


